[Unit]
Description=RabbitMQ FTP Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/teep_arq_flow
ExecStart=/opt/teep_arq_flow/bin/python /opt/teep_arq_flow/service.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target